@import "tailwindcss";

@theme {
    --color-primary: #135269;
    --color-blue-100:#ECF5FF;
    --color-gray-400: #859BA3;
    --color-green-700: #00A98A;
    --gradient-title: linear-gradient(260.66deg, #31E4C4 0%, #2084D0 100%);
    --gradient-footer: linear-gradient(180deg, #135269 0%, #083444 100%);
    --breakpoint-2xl: 1280px;
    --shadow-primary: 0px 10px 80px 0px rgba(168, 174, 183, 0.2);

}


/* Optional – dark mode overrides (class-based or media-query) */
@layer theme {
    .dark {
        @theme {
        }
    }
}

@layer base {
    .text-h1 {
        @apply font-semibold text-[56px] leading-15 ;
    }

    .text-gradient {
        @apply text-transparent bg-clip-text w-fit;
        background-image: var(--gradient-title);
    }

    .bg-gradient {
        background-image: var(--gradient-title);
    }

    .gradient-footer {
        background: var(--gradient-footer);
    }

    .gradient-border {
        background-image: var(--gradient-title);
        padding: 1px;
    }

    .flex-center {
        @apply flex justify-center items-center;
    }

    input,
    textarea,
    select {
        @apply appearance-none outline-none shadow-none ring-0;
        &:focus, &:focus-visible {
            @apply outline-none ring-0 shadow-none border-gray-400;
        }
    }
}

body {
    .clip-bottom-large-circle {
        -webkit-clip-path: ellipse(55% 50% at 50% 50%);
        clip-path: ellipse(55% 50% at 50% 50%)
    }

    .clip-top-large-circle {
        clip-path: ellipse(closest-side farthest-side at 50% -100%);
        background: #fff;
        width: 124%;
        height: 150px;
        position: absolute;
        top: 0;
        left: -12%;
        z-index: 1;
    }
}
