@import "tailwindcss";

@theme {
  --color-primary: #135269;
  --gradient-title: linear-gradient(260.66deg, #31E4C4 0%, #2084D0 100%);
  --gradient-footer: linear-gradient(180deg, #135269 0%, #083444 100%);
}


/* Optional – dark mode overrides (class-based or media-query) */
@layer theme {
  .dark {
    @theme {

    }
  }
}

@layer base {
  .title-color {
    @apply text-primary bg-red-400;
  }
  .text-gradient {
    @apply text-transparent bg-clip-text w-fit;
    background-image: var(--gradient-title);
  }
  .bg-gradient {
    background-image: var(--gradient-title);
  }
  .gradient-footer {
    background: var(--gradient-footer);
  }
  .gradient-border {
    background-image: var(--gradient-title);
    padding: 1px;
  }

  .bg-image {
    background-image: url('./assets/images/bg-hero.png');
    background-size: cover;
    background-position: center;
  }
}
body {

}
